In [8]:
import pandas as pd
# Load the dataset
data = pd.read_csv(r'mubawab_listings_eda.csv', dtype=object)

In [9]:
# One-Hot Encode categorical columns
cleaned_data_encoded = pd.get_dummies(data, columns=['Type', 'Quartier', 'Status', 'Property_State'])

# Display the first few rows of the cleaned and encoded dataset
cleaned_data_encoded.head()

,Price,Area,Rooms,Bedrooms,Bathrooms,Jardin,Piscine,Cuisine_equiped,Price_m2,Type_Appartement,...,Status_Bon état,Status_Nouveau,Status_À rénover,Property_State_1-5 ans,Property_State_10-20 ans,Property_State_20-30 ans,Property_State_30-50 ans,Property_State_5-10 ans,Property_State_50-70 ans,Property_State_Moins d'un an
0,2600000.0,100.0,3.0,2,2,0,0,1,26000.0,True,...,True,False,False,False,True,False,False,False,False,False
1,14500000.0,370.0,6.0,4,2,1,0,1,39189.18918918919,False,...,True,False,False,True,False,False,False,False,False,False
2,500000.0,50.0,1.0,2,2,0,0,1,10000.0,True,...,True,False,False,False,True,False,False,False,False,False
3,960000.0,203.0,2.0,5,3,0,0,0,4729.064039408867,False,...,True,False,False,True,False,False,False,False,False,False
4,1100000.0,101.0,3.0,2,2,0,1,1,10891.089108910892,True,...,False,True,False,False,False,False,False,True,False,False

In [10]:
Y = cleaned_data_encoded['Price']

In [11]:
X = cleaned_data_encoded.drop(columns=['Price'])

In [12]:
X = X.drop(columns=['Price_m2'])
X.head()

,Area,Rooms,Bedrooms,Bathrooms,Jardin,Piscine,Cuisine_equiped,Type_Appartement,Type_Maison,Type_Villa,...,Status_Bon état,Status_Nouveau,Status_À rénover,Property_State_1-5 ans,Property_State_10-20 ans,Property_State_20-30 ans,Property_State_30-50 ans,Property_State_5-10 ans,Property_State_50-70 ans,Property_State_Moins d'un an
0,100.0,3.0,2,2,0,0,1,True,False,False,...,True,False,False,False,True,False,False,False,False,False
1,370.0,6.0,4,2,1,0,1,False,False,True,...,True,False,False,True,False,False,False,False,False,False
2,50.0,1.0,2,2,0,0,1,True,False,False,...,True,False,False,False,True,False,False,False,False,False
3,203.0,2.0,5,3,0,0,0,False,True,False,...,True,False,False,True,False,False,False,False,False,False
4,101.0,3.0,2,2,0,1,1,True,False,False,...,False,True,False,False,False,False,False,True,False,False

In [14]:
Y

0       2600000.0
1      14500000.0
2        500000.0
3        960000.0
4       1100000.0
          ...
680      630000.0
681     2600000.0
682     1800000.0
683     1150000.0
684     1800000.0
Name: Price, Length: 685, dtype: object

In [15]:
#save X and Y
X.to_csv('X.csv', index=False)
Y.to_csv('Y.csv', index=False)